@import "../partials/mixins", "../partials/variables";

.button {
  @include font-button;
}

.button:hover {
  color: $green;
}

.button--send-form {
  @include font-button;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid $green;
  cursor: pointer;
  align-self: flex-end;
}

.button--send-form:hover {
  color: $green;
}
