@import "./partials/mixins", "./partials/variables";

.footer {
  background-color: $grey-dark;
  padding-top: 60px;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 50px;
  border-bottom: 1px solid $grey;
  padding-bottom: 87px;
}

.footer__contact__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__contact__form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer__contact__text__heading {
  @include font-heading-40;
  text-align: center;
}

.footer__contact__text__description {
  @include font-body-16;
  text-align: center;
  color: $grey;
}

.footer__contact__form__box-first-name,
.footer__contact__form__box-email,
.footer__contact__form__box-message {
  border-bottom: 1px solid #979797;
}

.footer__contact__form__box-first-name__name,
.footer__contact__form__box-email__email,
.footer__contact__form__box-message__message {
  @include font-body-16-22;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 16px 24px 16px 24px;
  color: white;
  flex-grow: 1;
  outline: none;
}

// .footer__contact__form__box-first-name__name::placeholder {
//     background-color: red;
// }

.footer__container-logo-social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 39px;
}

.footer__container-logo-social-media__logo {
  @include font-logo-s;
}

.footer__container-logo-social-media__social-media {
  display: flex;
  gap: 25.6px;
}

// 768px
@media screen and (min-width: 768px) {
  .footer {
    // background-color: $grey-dark;
    // padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__contact {
    // display: flex;
    // flex-direction: column;
    // gap: 48px;
    border-bottom: none;
    // padding-bottom: 92px;
    width: 445px;
  }

  .footer__contact__text {
    // gap: 20px;
  }

  .footer__contact__form {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .footer__contact__text__heading {
    @include font-heading-72;
  }

  .footer__contact__text__description {
    @include font-body;
  }

  .footer__contact__form__box-first-name,
  .footer__contact__form__box-email,
  .footer__contact__form__box-message {
    // border-bottom: 1px solid #979797;
  }

  .footer__contact__form__box-first-name__name,
  .footer__contact__form__box-email__email,
  .footer__contact__form__box-message__message {
    // @include font-body-16-22;
    // text-transform: uppercase;
    // background-color: transparent;
    // border: none;
    // width: 100%;
    // padding: 16px 24px 16px 24px;
    // color: white;
    // flex-grow: 1;
    // outline: none;
  }

  .footer__container-logo-social-media {
    flex-direction: row;
    justify-content: space-between;

    gap: 0;
    padding-top: 30px;
    border-top: 1px solid #979797;
    width: 100%;
  }
  .footer__container-logo-social-media__logo {
    @include font-heading-32--logo;
  }
  .footer__container-logo-social-media__social-media {
    gap: 32px;
  }
  .footer__container-logo-social-media__social-media__link {
    display: flex;
  }
}
