@import "./partials/mixins", "./partials/variables";

.header__container-logo-social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header__container-logo-social-media__logo {
  @include font-logo-s;
}

.header__container-logo-social-media__social-media {
  display: flex;
  gap: 25.6px;
}

.header__photo {
  margin-bottom: 40px;
  width: 46.4vw;
}

.header__container-text-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.header__container-text-button__heading {
  @include font-heading-40;
  text-align: center;
}

.header__container-text-button__description {
  @include font-body-16;
  color: $grey;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .header__container-logo-social-media {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
  }

  .header__container-logo-social-media__logo {
    @include font-heading-32--logo;
  }

  .header__container-logo-social-media__social-media {
    gap: 32px;
  }

  // edit

  .header__photo {
    margin-bottom: 0;
    width: 322px;
  }

  .header__container-text-button {
    align-items: flex-start;
    gap: 0;
  }

  .header__container-text-button__heading {
    @include font-heading-72;
    text-align: left;
  }

  .header__container-text-button__description {
    @include font-body;
    text-align: left;
  }
}
