@import "./partials/mixins", "./partials/variables";
.main__skills {
  margin: 0px 0 80px 0;
  display: grid;
  justify-content: center;
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
  padding: 40px 0 40px 0;
  gap: 24px;
}

.main__skills__header {
  @include font-heading-32;
  text-align: center;
}

.main__skills__description {
  @include font-body-16;
  color: $grey;
  text-align: center;
}

// PROJECTS
.main__projects {
  display: grid;
  gap: 40px;
}

.main__projects__heading-button {
  display: flex;
  justify-content: space-between;
}

.main__projects__heading-button__heading {
  @include font-heading-40;
}

.main__projects__project-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main__projects__project-box__img {
  width: 100%;
}

.main__projects__project-box__text {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.main__projects__project-box__text__heading {
  @include font-heading-m;
}

.main__projects__project-box__text__tags-box {
  display: flex;
  gap: 18px;
}

.main__projects__project-box__text__tags-box__tag {
  @include font-body;
  color: $grey;
  text-transform: uppercase;
}

.main__projects__project-box-buttons {
  display: flex;
  gap: 30px;
}

// 768px
@media screen and (min-width: 768px) {
  .main__skills {
    margin: 0px 0 100px 0;
    border-bottom: none;
    padding: 40px 0 0 0;
    gap: 52px;
    grid-template-columns: 1fr 1fr;
  }

  .main__skills__header {
    @include font-heading-l;
    text-align: left;
  }

  .main__skills__description {
    @include font-body;
    color: $grey;
    text-align: left;
  }

  // PROJECTS
  .main__projects {
    gap: 24px;
    grid-template-columns: 1fr 1fr;
  }

  .main__projects__heading-button__heading {
    @include font-heading-72;
  }

  .main__projects__project-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
